@font-face {
    font-family: "Brolink" ;
    src: url(./Brolink.ttf);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
    width: 100%;

    font-family: "Brolink";
    color: #1d4777;
    letter-spacing: 1px;


    background-image: url(./6193277.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

#container{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    
}

#heading-div{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    padding-left: 1em;
}


#main{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

#userInput{
    background-color: rgba(8, 32, 66, 0.25);
    border: none;
    border-radius: 10px;
    height: 75px;
    width: 250px;
    padding: 1em;
    color: white;
    font-size: 1.25em;

}

#userInput::placeholder{
    color: white
}

#output{
    background-color: rgba(8, 32, 66, 0.25);
    border: none;
    border-radius: 10px;
    height: 75px;
    width: 250px;
    padding: 1em;
    font-size: 1em;
    font-family: sans-serif;
    color: white;
}
button{
    background-color: transparent;
    border: none;

    color: #1d4777;
    font-family: Brolink;
    font-size: 1.25em;

    /* border-radius: 10px; */
    text-align: center;

    padding: 15px 20px;
}

@media screen and (max-width: 768px) {
    #container{
        align-items: flex-start;
    }
    #heading-div{
        align-items: flex-start;
    }
    #container{
        align-items: flex-start;
    }
    
}

@media screen and (max-width: 500px) {
    body{   
        background-image: url(./6193282.jpg);
        background-position: top;
        color: white;
    }

    button{

        color: white;

    }
    
    
}

